<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyh.dao.primary.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.kyh.model.primary.Role" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LOCKED" property="locked" jdbcType="INTEGER" />
    <result column="RESOURCEIDS" property="resourceIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, DESCRIPTION, LOCKED, RESOURCEIDS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kyh.model.primary.Role" >
    insert into role (ID, NAME, DESCRIPTION, 
      LOCKED, RESOURCEIDS)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{locked,jdbcType=INTEGER}, #{resourceIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kyh.model.primary.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="locked != null" >
        LOCKED,
      </if>
      <if test="resourceIds != null" >
        RESOURCEIDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=INTEGER},
      </if>
      <if test="resourceIds != null" >
        #{resourceIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kyh.model.primary.Role" >
    update role
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        LOCKED = #{locked,jdbcType=INTEGER},
      </if>
      <if test="resourceIds != null" >
        RESOURCEIDS = #{resourceIds,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kyh.model.primary.Role" >
    update role
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=INTEGER},
      RESOURCEIDS = #{resourceIds,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="getRoles" resultType="string">
    select NAME from role where id in
    (<foreach collection="roleIds" item="roleId" separator=",">#{roleId}</foreach>)
  </select>
</mapper>